body {
  font-family: Arial, sans-serif;
  background-color: bisque;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  text-align: center;
}

#current-weather img {
  height: 50px;
  width: 50px;
}

#forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 14px;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  background-color: #f2f2f2;
}

.forecast-day img {
  height: 50px;
  width: 50px;
}

#search-history {
  list-style: none;
}

#search-history li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
}

#search-history button {
  background: none;
  border: none;
  font-size: 18px;
  color: gray;
  cursor: pointer;
  padding: 2px;
  height: 20px;
  width: 20px;
}

